body {
    font-family: "Manrope";
    overflow-x: hidden;

}

.home-bg {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 47%;
    background-image: url(Images/home.jpg);
    height: 100%;

    img {

        width: 10%;
        position: relative;
    }
}

.icons {
    margin-left: 25%;
    word-spacing: 1.5em;
    color: #e05c00;
    cursor: pointer;
}

.icons i:hover {
    color: #773f07;
}

.home-content {
    position: absolute;
    background-color: white;
    top: -2%;
    right: 0%;
    width: 70%;
    height: 90%;
    border-radius: 1% 1% 1% 70%;
    text-align: center;

    nav {
        padding-top: 5%;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        gap: 5%;

        a {
            text-decoration: none;
            color: black;
        }


    }

    h1 {
        margin-top: 7%;
        font-size: 5em;

    }

    h1 span {
        color: #F57C00;
    }
}

nav a:hover {
    color: #F57C00;
    border-bottom: solid 1px #F57C00;
}

.home-content p {
    margin-left: 22%;
    width: 60%;
    font-size: 2.5em;
    font-family: "Kodchasan";

}

.home-content button {
    margin-top: 4%;
    margin-left: 7%;
    text-decoration: none;
    background-color: #F57C00;
    color: white;
    cursor: pointer;
    border: none;
    height: 7%;
    padding: 1%;
    width: 19%;
    border-radius: 50px;
    font-size: 1.5rem;
}

.home-content button:hover {
    /* background-color: #773f07; */
     background-color: #1e4417;
}

#vendors {
    background-color: #e7be95;
    color: #e67728;
}

#vendors:hover {
    background-color: #1e4417;
    color: white;
}

.about_us{
    transform: translate(0);
    font-family: manrope;
    font-size: 22px;
    p{
        width: 50%;
    }
}
#about{
    transform: translate(20%);
    font-weight: lighter;
}
#us{
    color: #F57C00;
}
#line{
    border: solid #F57C00 2px;
}
#hb{
    color: #F57C00;
    font-size: 24px;
}
.mama{
    display: flex;
      width: 100%;
      position: relative;
      margin-top: 0%;

}
.mama p{
    margin-top: 20%;
}
#mamamboga{
    width: 60%;
}
#img{
    position: absolute;
    width: 36%;
    left: 65%;
    border-radius: 0% 0% 0% 50%;
    top: -25%;
}
@media only screen and (width:320px) {
    .home-bg {
        height: 74vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 15%;
        }
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 75%;

        nav {
            padding-top: 20%;
            font-size: 1rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 15%;
            font-size: 3.5em;

        }

    }

    .icons {
       display: flex;
       left: 13%;
       gap: 25%;
        position: absolute;
        top: 4%;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 1.2em;
    }

    .home-content button {
        margin: 2%;
        padding: 2%;
        width: 35%;
        border-radius: 50px;
        font-size: 0.9rem;
    }

}



@media only screen and (max-width:480px) {
    .home-bg {
        height: 74vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 15%;
        }
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 75%;

        nav {
            padding-top: 15%;
            font-size: 1rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 15%;
            font-size: 3.5em;

        }

    }

    .icons {
        margin: 1% 0% 0% 65%;
        position: absolute;
        top: 4.5%;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 1.2em;
    }

    .home-content button {
        margin: 2%;
        padding: 2%;
        width: 35%;
        border-radius: 50px;
        font-size: 0.9rem;
    }

}

@media only screen and (width:540px) {
    .home-bg {
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 10%;
        }
    }

    .icons {
        margin: 0;
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 70%;

    }

    .home-content h1 {
        font-size: 3.5em;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 1.5em;
    }

    .home-content button {
        padding: 2%;
        width: 30%;
        border-radius: 50px;
        font-size: 1rem;
    }

    .home-content nav {
        font-size: 1rem;
        margin-top: 5%;
    }
}
@media only screen and (max-width: 600px) {
    .about_us{
        font-size: 2 rem;
        h1{
            transform: translate(4px);
        }
        p{
            width:100% ;
        }
    }
    .mama{
        display: grid;
    
    }
    #mamamboga{
        width: 100%;
    }
}

@media only screen and (width:768px) {
    .home-bg {
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 10%;
        }
    }

    .icons {
        margin: 0;
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 75%;

    }

    .home-content p {
        margin: 15%;
        width: 70%;
        font-size: 2em;
    }

    .home-content button {
        /* margin: 4%; */
        padding: 2%;
        width: 30%;
        border-radius: 50px;
        font-size: 1.5rem;
    }

    .home-content nav {
        font-size: 1.3rem;
        margin-top: 5%;
    }
}

@media only screen and (width:1024px) {
    .home-bg {
        height: 25vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);
    }

    .home-content {
        width: 85%;
        border-radius: 5% 0% 0% 50%;
        height: 100%;

        h1 {
            margin-top: 10%;
            font-size: 3em;

        }

    }

    .icons {
        margin: 0;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 1.5em;
    }

    .home-content button {
        margin: 1%;
        padding: 2%;
        width: 18%;
        border-radius: 50px;
        font-size: 1rem;
    }
}

@media only screen and (width:1280px) {
    .home-bg {
        height: 30vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);
    }

    .home-content {
        width: 85%;
        border-radius: 5% 0% 0% 50%;
        height: 100%;

        h1 {
            margin-top: 10%;
            font-size: 5em;

        }
    }

    .icons {
        margin: 0;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }

    .home-content button {
        margin: 1%;
        padding: 2%;
        width: 25%;
        border-radius: 50px;
        font-size: 1.5rem;
    }
}

@media only screen and (width:853px) {
    .home-bg {
        height: 50vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 10%;
        }
    }

    .icons {
        margin: 0;
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 55%;

        nav {
            padding-top: 10%;
            font-size: 1.5rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 8%;
            font-size: 3.5em;

        }

    }

    .home-content button {
        width: 25%;
        padding: 1%;
        font-size: 1.rem;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }
}

@media only screen and (width:820px) {
    .home-bg {
        height: 50vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 10%;
        }
    }

    .icons {
        margin: 0;
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 65%;

        nav {
            padding-top: 10%;
            font-size: 1.5rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 8%;
            font-size: 3.5em;

        }

    }

    .home-content button {
        width: 25%;
        padding: 1%;
        font-size: 1.rem;
        margin-top: 0%;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }
}

@media only screen and (width:912px) {
    .home-bg {
        height: 50vh;

        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(Images/home.jpg);

        img {
            z-index: 1;
            width: 10%;
        }
    }

    .icons {
        margin: 0;
    }

    .home-content {
        width: 100%;
        border-radius: 0% 0% 50% 50%;
        height: 65%;

        nav {
            padding-top: 10%;
            font-size: 1.5rem;

            display: flex;
            flex-wrap: wrap;
            gap: 5%;

        }

        h1 {
            margin-top: 8%;
            font-size: 3.5em;

        }

    }

    .home-content button {
        width: 25%;
        padding: 1%;
        font-size: 1.rem;
        margin-top: 0%;
    }

    .home-content p {
        margin: 9% 23%;
        width: 60%;
        font-size: 2em;
    }
}



.customer_container{
   display: flex;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 20vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 300%;
}
.customer_side{
   margin-left: 20vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 2.5vw;
   height: 5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 170%;
}
#numbers_two{
   width: 2.5vw;
   height: 5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -25vh;
   margin-top: 40vh;
}
.application_outlook{
   display: flex;
  
}
.image_container{
   margin-top: -10vh;
}
#playstore_icon{
   height: 3vh;
   margin-top: -1.5vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 100%;
   margin-left: 2vh;
}
#get_on{
   font-size: 110%;
}
#playstore_container{
   width: 10vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   margin-left: 15vh;
   margin-top: 15vh;
   text-align: center;
   gap: 30vh;
   i{
       /* border: solid; */
       padding: 17% 20% 17% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 20vw;
   height: 30vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 130%;
}








@media only screen and (min-width: 0px) and (max-width:450px){
  


   .customer_container{
   display: flex;
   flex-direction: column;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 2vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 80%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 200%;
}
.customer_side{
   margin-left: 1vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 9vw;
   height: 5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 130%;
}
#numbers_two{
   width: 15vw;
   height: 5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -25vh;
   margin-top: 40vh;
}
.application_outlook{
   display: flex;
   margin-left: -9vh;
  
}
.image_container{
   margin-top: -20vh;
}
#playstore_icon{
   height: 3vh;
   margin-top: 0.5vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 90%;
   margin-left: 2vh;
}
#get_on{
   font-size: 90%;
}
#playstore_container{
   width: 30vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   flex-direction: column;
   margin-left: 6vh;
   margin-top: 10vh;
   text-align: center;
   gap: 20vh;
   i{
       /* border: solid; */
       padding: 17% 20% 17% 10%;
       width: 4%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 70vw;
   height: 30vh;
   text-align: center;
   margin-top: 2vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 110%;
}


}




@media only screen and (min-width: 451px) and (max-width:540px){


   .customer_container{
   display: flex;
   flex-direction: column;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 2vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 90%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 200%;
}
.customer_side{
   margin-left: 5vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 9vw;
   height: 5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 130%;
}
#numbers_two{
   width: 15vw;
   height: 5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -25vh;
   margin-top: 40vh;
}
.application_outlook{
   display: flex;
   margin-left: -9vh;
  
}
.image_container{
   margin-top: -20vh;
}
#playstore_icon{
   height: 3vh;
   margin-top: 0.5vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 90%;
   margin-left: 2vh;
}
#get_on{
   font-size: 90%;
}
#playstore_container{
   width: 30vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   flex-direction: column;
   margin-left: 5vh;
   margin-top: 15vh;
   text-align: center;
   gap: 30vh;
   i{
       /* border: solid; */
       padding: 17% 20% 17% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 70vw;
   height: 50vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 100%;
}


}




@media only screen and (min-width: 541px) and (max-width:600px){


   .customer_container{
   display: flex;
   flex-direction: column;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 2vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 90%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 200%;
}
.customer_side{
   margin-left: 5vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 9vw;
   height: 5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 130%;
}
#numbers_two{
   width: 15vw;
   height: 5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -25vh;
   margin-top: 40vh;
}
.application_outlook{
   display: flex;
   margin-left: -9vh;
  
}
.image_container{
   margin-top: -20vh;
}
#playstore_icon{
   height: 3vh;
   margin-top: 0.5vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 90%;
   margin-left: 2vh;
}
#get_on{
   font-size: 90%;
}
#playstore_container{
   width: 30vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   flex-direction: column;
   margin-left: 5vh;
   margin-top: 15vh;
   text-align: center;
   gap: 30vh;
   i{
       /* border: solid; */
       padding: 17% 20% 17% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 70vw;
   height: 50vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 100%;
}


}




@media only screen and (min-width: 601px) and (max-width:800px){
.customer_container{
   display: flex;
   flex-direction: column;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 2vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 90%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 200%;
}
.customer_side{
   margin-left: 5vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 6vw;
   height: 4.5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 130%;
}
#numbers_two{
   width: 6.5vw;
   height: 4.5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -25vh;
   margin-top: 36vh;
}
.application_outlook{
   display: flex;
   margin-left: 2vh;
  
}
.image_container{
   margin-top: -20vh;
}
#playstore_icon{
   height: 3vh;
   margin-top: -2vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 90%;
   margin-left: 2vh;
}
#get_on{
   font-size: 100%;
}
#playstore_container{
   width: 27vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   flex-direction: column;
   margin-left: 10vh;
   margin-top: 15vh;
   text-align: center;
   gap: 30vh;
   i{
       /* border: solid; */
       padding: 15% 15% 14% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 70vw;
   height: 30vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 150%;
}
}
@media only screen and (min-width: 801px) and (max-width:999px){




.customer_container{
   display: flex;
   flex-direction: column;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 2vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 90%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 300%;
}
.customer_side{
   margin-left: 5vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 6.5vw;
   height: 4.5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 2.5vw;
   margin-top: 2.5vh;
   font-size: 130%;
}
#numbers_two{
   width: 7vw;
   height: 4.5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: -20vh;
   margin-top: 33vh;
}
.application_outlook{
   display: flex;
   margin-left: 1vh;
  
}
.image_container{
   margin-top: -30vh;
}
#playstore_icon{
   height: 3vh;
 
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 130%;
   margin-left: 2vh;
}
#get_on{
   font-size: 100%;
}
#playstore_container{
   width: 30vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   flex-direction: column;
   margin-left: 9vh;
   margin-top: 15vh;
   text-align: center;
   gap: 30vh;
   i{
       /* border: solid; */
       padding: 15% 15% 15% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 70vw;
   height: 30vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 150%;
}


}






@media only screen and (min-width: 1000px) and (max-width:1400px){
.customer_container{
   display: flex;
   gap:30vh;
}
.customer_activity{
   display: flex;
}
.customer_heading{
   color: #F57C00;
    margin-left: 20vh;
    font-size: 300%;
    padding-top: 5vh;
}
#name_haba{
   color: #F57C00;
}
.line{
  border: solid #F57C00;
  width: 90%;
}
#why_choosehaba{
   text-align: center;
   margin-top: 5vh;
   font-size: 300%;
}
.customer_side{
   margin-left: 2vh;
   padding-top: 10vh;
}
#numbers{
  color: white;
  text-align: center;
   width: 5vw;
   height: 5vh;
   border-radius: 50%;
   background-color: #F57C00;
}
#number_words{
   margin-left: 1.5vw;
   margin-top: 2.5vh;
   font-size: 200%;
}
#numbers_two{
   width: 9.5vw;
   height: 5vh;
   border-radius: 50%;
   text-align: center;
   background-color: #F57C00;
   color: white;
}
#phone_image{
   height: 15vh;
   margin-left: vh;
   margin-top: 40vh;
}
.application_outlook{
   display: flex;
  
}
.image_container{
   margin-top: 2.5vh;
   margin-left: -20vw;
}
#playstore_icon{
   height: 3vh;
   margin-top: -1.5vh;
  
}
.playstore_container{
   display: flex;
}
#playstore_words{
   font-weight: lighter;
   margin-top: -0.5vh;
   font-size: 100%;
   margin-left: 2vh;
}
#get_on{
   font-size: 110%;
}
#playstore_container{
   width: 15vw;
   background-color: white;
   border: solid 2px #F57C00;
   margin-left: 2vh;
   margin-top: -2vh;
}




#work_words{
   color: #F57C00;
}


#working{
   text-align: center;
   font-size: 300%;
}
.howitworks{
   margin-top: 20vh;
}


.howitworks_container{
   display: flex;
   margin-left: 1vh;
   margin-top: 15vh;
   text-align: center;
   gap: 10vh;
   i{
       /* border: solid; */
       padding: 17% 30% 17% 10%;
       width: 5%;
       border-radius: 50%;
       font-size: 50px;
       background-color: #F57C00;
       color: white;
   }
}
.howitworks_text{
   border: solid 2px #F57C00;
   width: 25vw;
   height: 34vh;
   text-align: center;
   margin-top: 10vh;
   box-shadow: 0 2px  #F57C00;
   font-size: 120%;
}
}
